<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de links de referencia.</title>
</head>
<body>
    <h1>Visor</h1>
    <p>Selecciona a dónde quieres ir:</p>
    <ul>
        <li><a href="/api/admins">Admins</a></li>
        <li><a href="/api/admin/">Admin por nombre</a></li>
        <li><a href="/api/findadmin">Encontrar admin</a></li>
        <li><a href="/api/insertData">Ingresar Datos</a></li>
        <li><a href="/api/v1/sensor_data">Verificar compañia por API_KEY</a></li>
    </ul>
</body>
</html>