<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Compañia</title>
</head>
<body>
    <form action="/api/new_company" method = "POST">
        <label for="company_name">Nombre de Compañia:</label>
        <input type="text" id="company_name" name="company_name" required><br>

        <label for="company_api_key" method = "POST">Company - Key:</label>
        <input type="text" id="company_api_key" name="company_api_key" required><br>

        <input type="submit" value="Crear Compañia">
    </form>
</body>
</html>